<!DOCTYPE html>
<html lang="en">
<head>
  {{ if .Site.Params.googleAnalytics }}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.googleAnalytics }}');
  </script>
  {{ end }}

  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">

</head>

<body>
  <nav>
    <a href="/">Rutansh</a>
    <a href="/articles/">Articles</a>
    <a href="/about/">About</a>
  </nav>

  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
  <p>© Rutansh · A thinking space</p>
</footer>
</body>
</html>